@import '../../../styles/settings.scss';

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  font-family: $font-header;
  li {
    margin: 0 $base-size;
  }

  .active {
    color: white;
  }

}